/* For Scrolbar Start  */
::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #191c24;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
/* For Scrolbar End  */

/* For Input search focus */
input#itemSearch:focus {
  border: 1px solid #ffffff;
}

/* For Table Start */
.table thead th {
  color: white;
}

.collapse {
  visibility: initial;
}

a {
  color: #6c7293;
}

.table-hover > tbody > tr:hover a {
  color: white !important;
}

/* For Table End */

/* For Modal Start */
.modal_icon img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.modal_icon {
  text-align: center;
  padding: 15px;
  width: 100%;
}

/* For Modal End */

/* For Text-area start */
textarea {
  display: block;
  width: 100%;
  padding: 0.56rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  /* color: #212529; */
  color: white !important;
  background-color: #2a3038;
  background-clip: padding-box;
  border: 1px solid #2c2e33;
  appearance: none;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea::placeholder {
  color: #6c7293;
}
textarea:focus {
  outline: 1px solid #396a40;
}

/* For Text-area End */
.file-upload-browse {
  background-color: darkcyan;
}

/* Manage Table */
.manage-table th,
.manage-table td {
  text-align: center;
}

/* Manage Table */
.message-table td,
.message-table a {
  color: rgb(209, 207, 209);
}

.message-table th,
.message-table td {
  text-align: center;
}

.message-table .alignleft {
  text-align: left;
}

.alignleft {
  text-align: left;
}

.file-upload-info {
  background-color: #2a3038 !important;
}

.input-group:focus {
  border: 1px solid #ffffff;
}

.menu-icon-resize {
  font-size: 24px;
}

/* Preview Product Images  */
.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 195px;
  overflow-y: auto;
  margin-top: 3px;
  outline: 1px solid #396a40;
  padding: 10px;
  border-radius: 20px;
}

.image-container .image {
  width: 100px;
  margin: 0px 5px;
  height: 90px;
  position: relative;
  margin-bottom: 8px;
}

.image-container .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.image-container .image span {
  position: absolute;
  top: -3px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
  color: red;
  font-weight: bolder;
}
/* Preview Product Images  */

/* For JQuery Data Table Show item background */
div.dt-container .dt-input {
  background-color: #191c24 !important;
  color: inherit;
}
/* // For JQuery dataTable Next and Previous Button  */
div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
  color: white !important;
}
