.m-0 {
  margin: 0px;
}
.p-0{
  padding: 0px;
}
.profile-button-align {
  display: flex;
  justify-content: end;
}

.input-group-text {
  border: none;
  width: 5%;
  padding: 5px;
  cursor: pointer;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.password-right-border {
  width: 95%;
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
