/* After Login Profile Style Start */
.w-full {
  color: black;
}

/* .navbar .navbar-menu-wrapper {
    box-shadow: none;
    -webkit-box-shadow: none;
} */

.preview-list .preview-item .preview-item-content p {
  color: white;
}

.text-center {
  color: white;
}

#profile-view-hidden {
  display: none !important;
}

/* After Login Profile Style End */

/* Update Profile Picture Start  */

.profile-img {
  height: 200px;
  width: 200px;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 2px;
}

.choose-file {
  margin-left: -3rem;
  opacity: 0;
  margin-top: -35px;
  position: absolute;
  z-index: 10;
  width: 110px;
  cursor: pointer;
}

.camera-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: -60px;
  margin-top: -15px;
  top: 160px;
  opacity: 0.7;
  position: absolute;
  background-color: red;
  cursor: pointer;
}

/* Update Profile Picture End  */
